:root {
  --main-color: #4a76a8;
}

.bg-main-color {
  background-color: var(--main-color);
}

.text-main-color {
  color: var(--main-color);
}

.border-main-color {
  border-color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

@media (max-width: 768px) {
  section {
      margin-bottom: 10px; /* Sesuaikan margin untuk layar yang lebih kecil */
  }
}
